@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* SCROLLBAR STYLING */
:root {
	--scrollbar-width: thin;
	--scrollbar-width-legacy: 10px;
}

/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
	* {
		scrollbar-width: var(--scrollbar-width);
	}
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
	::-webkit-scrollbar-thumb {
		background: var(--scrollbar-color-thumb);
	}
	::-webkit-scrollbar-track {
		background: var(--scrollbar-color-track);
	}
	::-webkit-scrollbar {
		max-width: var(--scrollbar-width-legacy);
		max-height: var(--scrollbar-width-legacy);
	}
}
/* SCROLLBAR STYLING */

/* Quill CSS */
.ql-container {
	@apply whitespace-pre-wrap p-0;
	@apply !font-sans !text-sm;
}

.editor-toolbar-button {
	@apply hover:bg-gray-100 rounded-md p-2;

	&.ql-active {
		@apply bg-gray-100;
	}
}
/* Quill CSS */

@layer base {
	@font-face {
		font-family: 'Century Gothic';
		src: local('Century Gothic'), local('Century Gothic'),
			url('/fonts/Century Gothic/centurygothic.ttf');
		font-weight: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Century Gothic';
		src: local('Century Gothic'), local('Century Gothic'),
			url('/fonts/Century Gothic/centurygothic_bold.ttf');
		font-weight: bold;
		font-display: swap;
	}
}
